<h2 style = "color: #e86100" > Search Products </h2>
<%= link_to "Categories", "../categories/" %> &nbsp &nbsp
<%= link_to "Brands", "../brands/" %> <br><br>
<p style = "color: #e86100">
<%= "New Customer?" %>
<%= link_to "Start here", "/form" %> 
</p>